We will have another simple example on two sample t test (pooled- when the variances are equal). But this time this is a one sided t-test


#### In a packing plant, a machine packs cartons with jars. It is supposed that a new machine will pack faster on the average than the machine currently used. To test that hypothesis, the times it takes each machine to pack ten cartons are recorded. The results, in seconds, are shown in the tables in the file files_for_lab/machine.txt. Assume that there is sufficient evidence to conduct the t test, does the data provide sufficient evidence to show if one machine is better than the other

In [1]:
import pandas as pd
import numpy as np
from scipy import stats
from scipy.stats import ttest_ind

In [2]:

data = pd.read_csv('machine.txt', delimiter='\t', encoding='utf-16')
data

   New machine      Old machine
0         42.1             42.7
1         41.0             43.6
2         41.3             43.8
3         41.8             43.3
4         42.4             42.5
5         42.8             43.5
6         43.2             43.1
7         42.3             41.7
8         41.8             44.0
9         42.7             44.1

In [3]:
data.columns = data.columns.str.replace(' ', '_').str.lower()
data.head()

   new_machine  ____old_machine
0         42.1             42.7
1         41.0             43.6
2         41.3             43.8
3         41.8             43.3
4         42.4             42.5

In [4]:
data.columns = ['new_machine','old_machine']
data.head()

   new_machine  old_machine
0         42.1         42.7
1         41.0         43.6
2         41.3         43.8
3         41.8         43.3
4         42.4         42.5

In [5]:
# new_machine
new_samples = 10  #dof=10-1=9
new_mean = np.mean(data.new_machine)
new_std = np.std(data.new_machine, ddof=1)

# old_machine
old_samples = 10  #dof=10-1=9
old_mean = np.mean(data.old_machine)
old_std = np.std(data.old_machine, ddof=1)

In [6]:
dof1=9
dof2=9
dof12= 18

**H0**: μ_new_machine_speed > μ_old_machine_speed
**H1**:μ_new_machine_speed < μ_old_machine_speed
    
right tailed test

In [9]:
#t Statistics

sp=np.sqrt(((dof1*new_std*new_std)+(dof2*old_std*old_std))/dof12)


ttest = (new_mean - old_mean) / (sp * np.sqrt(1/new_samples + 1/old_samples))
ttest.round(2)

-3.4

In [8]:
#ttest and p_value

t_statistic, p_value = ttest_ind(data.new_machine, data.old_machine)
print("Test statistic:", t_statistic)
print("p-value:", p_value)

Test statistic: -3.3972307061176026
p-value: 0.0032111425007745158

p-value is smaller than 0.05 so we can say with a 95% confidence that the H0 can be rejected meaning the new machine doesn;t work faster than the old machine.

Also based on the table the critical value is 1.734 so the statistcal value is inside the critical region so we reject the null hypothesis.